{% extends 'frontend/master/master.html'%}
{% block content %}
<div class="row m-4">
    <div class="col-sm-9 bg-dark">f</div>
    <div class="col-sm-3">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombres:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombres...">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Apellidos:</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apellidos...">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Direccion:</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Direccion...">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Telf:</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefono...">
              </div>
          </form>
    </div>
</div>
{% endblock content %}